.FormButton {
    padding-bottom: calc(var(--standard-height)*7);
}

.FormButton_Link {
    color: var(--light-color);
    background-color: var(--third-color);
    box-sizing: border-box;
    display: block;
    letter-spacing: var(--standard-letter-spacing);
    text-decoration: none;
    font-size: calc(var(--font-normalize-size)/3);
    text-shadow: 2px 2px var(--base-color);
    padding: calc(var(--standard-height)/1.2) calc(var(--standard-height)/0.5);
    border: calc(var(--standard-height)/10) var(--light-color) solid;
    border-radius: 25%/90%;
}