.Separator {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(var(--standard-height)/2);
    background-color: var(--first-color);
    border: var(--second-color) calc(var(--standard-height)/16) solid;
}