.Header {
    width: 100%;
    min-width: var(--min-width);
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_title {
    width: 95%;
    min-width: var(--min-width);
    letter-spacing: var(--standard-letter-spacing);
    text-align: center;
    color: var(--light-color);
    font-size: calc(var(--font-normalize-size)/2.5);
    text-shadow: 2px 2px var(--third-color);
}