.Header {
    width: 100%;
    min-width: var(--min-width);
    min-height: calc(8vw + 20vh);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_title {
    width: 95%;
    letter-spacing: calc((7.5vw + 3vh)/20);
    min-width: var(--min-width);
    text-align: center;
    color: #F8FFF8;
    font-size: calc((7.5vw + 3vh)/1.5);
    text-shadow: 3px 3px #B9D0EA;
}