:root {
    --vortex-box-left: calc(100vw - var(--vortex) + var(--vortex)/2);
    --vortex-box-top: calc(100vh - var(--vortex) + var(--vortex)/2);
    --vortex: calc((50vw + 50vh)/2);
}

.ErrorView {
    box-sizing: border-box;
    min-width: var(--min-width);
    width: 100%;
    height: 100%;
    padding: 2%;
}

.ErrorView_ups {
    font-size: calc(var(--font-normalize-size)/2);
}

.WrongPath > .Error_title {
    font-size: calc(var(--font-normalize-size)/3.6);
}

.Error_title {
    font-size: calc(var(--font-normalize-size)/3);
}

.Error_code {
    font-size: calc(var(--font-normalize-size)/3);
}

.Error_description {
    font-size: calc(var(--font-normalize-size)/6);
    color: var(--first-color);
    text-shadow: 1px 1px var(--second-color);
    margin-top: 1vh;
}

.ReturnHome {
    box-sizing: border-box;
    margin: calc(var(--font-normalize-size)/2 - 2vh) auto 0 auto;
    background-color: var(--first-color);
    border-radius: var(--standard-border-radius);
    border: var(--standard-border-value) var(--base-color) solid;
}

.ReturnHome_Link {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    letter-spacing: var(--standard-letter-spacing);
    font-size: calc(var(--font-normalize-size)/6);
    color: var(--light-color);
    text-shadow: 2px 2px var(--second-color);
    padding: calc((7.5vw + 3vh)/8) calc((7.5vw + 3vh)/3);
    border: calc((7.5vw + 3vh)/60) var(--light-color) solid;
    border-radius: var(--standard-border-radius);
}

.Vortex_Box {
    position: fixed;
    left: var(--vortex-box-left);
    top: var(--vortex-box-top);
}

.Vortex {
    width: var(--vortex);
    position: static;
}