.Form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form_wrapper {
    width: 60%;
    min-height: calc(75vh - var(--standard-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}