@import "variables.css";

.App {
    min-height: 100vh;
    min-width: 100vw;
    height: fit-content;
    width: fit-content;
    background-color: var(--base-color);
}

.App_sites {
    display: block;
    min-height: 100%
}