.GameTable {
    width: 100%;
    min-width: var(--min-width);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameTable_Container {
    width: 90%;
    height: 90%;
    display: grid;
    column-gap: 1vw;
    row-gap: 1vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1024px){
    .GameTable_Container {
        width: 90%;
        height: 90%;
        display: grid;
        column-gap: 1vw;
        row-gap: 1vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 580px){
    .GameTable_Container {
        width: 90%;
        height: 90%;
        display: grid;
        column-gap: 1vw;
        row-gap: 1vh;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 320px){
    .GameTable_Container {
        display: none;
    }
}