.GameTable {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameTable_Container {
    width: 90%;
    height: 90%;
    display: grid;
    column-gap: 1vw;
    row-gap: 1vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-aspect-ratio: 1700/1000){
    .GameTable_Container {
        width: 90%;
        height: 90%;
        display: grid;
        column-gap: 1vw;
        row-gap: 1vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-aspect-ratio: 1350/1000){
    .GameTable_Container {
        width: 90%;
        height: 90%;
        display: grid;
        column-gap: 1vw;
        row-gap: 1vh;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-aspect-ratio: 780/1000){
    .GameTable_Container {
        width: 90%;
        height: 90%;
        display: grid;
        column-gap: 1vw;
        row-gap: 1vh;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-aspect-ratio: 400/1000){
    .GameTable_Container {
        width: 90%;
        height: 90%;
        display: grid;
        column-gap: 1vw;
        row-gap: 1vh;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 330px){
    .GameTable {
        display: none;
    }
    .GameTable_Container {
        display: none;
    }
}